@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

li {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-header-logo {
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
}

.catalog-products {

  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}

.catalog-products-cost {
  display: flex;
  flex-direction: column;
}

.catalog-products-button {
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  display: flex;
}

.catalog-products-images {
  display: block;
  background-image: url(../images/catalog-mountains.jpg);
  background-size: 100%;
  width: 1200px;
  height: 412px;
  object-fit: contain;
}

.breadcrumbs {
  margin: 0 auto;
  padding: 8px;
  margin-left: 70px;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.select-control {
  display: flex;
  justify-content: space-between;
}

.button-show-icons {
  width: 48px;
  height: 48px;
  background-image: url(../images/button-show-icons.svg);
}

.button-show-slides {
  width: 48px;
  height: 48px;
  background-image: url(../images/button-show-slides.svg);
}

.button-show-list {
  width: 48px;
  height: 48px;
  background-image: url(../images/button-show-list.svg);
}

.product-list {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product-card-functional {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 21px 36px 37px;
  align-items: center;
  gap: 16px;
}


.pagination-container {
  margin-left: 55px;
  display: flex;
  padding: 8px;
  background-color: #ffffff;
}

.pagination-link-pagination-current {
  padding: 10px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  background: #F2F2F2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 360px;
  margin-left: 0;
  padding: 0;
}

.logo-welcom {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  width: 1200px;
  height: 282px;
  background-color: #FFFFFF;
}

.hero-page {
  width: 1200px;
  height: 485px;
  background-image: url(../images/index-background.jpg);
  margin: 0 auto;
  margin-top: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages-white-images {
  width: 230px;
  height: 181px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 111px;
  text-align: center;
  justify-content: center;
  background: #82B3D3
}

.advantages-devil-bridge {
  width: 230px;
  height: 181px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 111px;
  text-align: center;
  justify-content: center;
}

.Small-area {

  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-small-area {
  width: 230px;
  height: 181px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 111px;
  text-align: center;
  justify-content: center;
}

.advantages-Small-area {
  padding-left: 28px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  flex-wrap: wrap;
  width: 175px;
  height: 56px;
}

.advantages-attributes {
  display: flex;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
}

.advantages-places {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.devil-bridge {
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: #82B3D3;
}


.items {
  display: flex;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-around;
  background: #FFFFFF;
  color: #000000;
}

.navigation-item {
  align-items: center;
  display: block;
  display: flex;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-decoration: none;
}

.advantages-title {
  padding-left: 290px;
  width: 620px;
  height: 72px;
  padding-top: 69px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.advantages-interested {
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 304px;
  padding-right: 304px;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-title-interested {
  width: 620px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.advantages-description-white {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  flex-wrap: wrap;

}

.interested {
  width: 1200px;
  height: 406px;
  text-align: center;

}

.button-all {

  font-style: normal;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;

}

.newsletter-button {

  font-style: normal;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  background-position: center;
}

.page-footer-address {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;

}

.footer-social-list {
  padding-left: 70px;
  padding-top: 45px;
  padding-bottom: 35px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-item {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.htmlacademy-link {
  padding-top: 49px;
  padding-right: 70px;
}

.footer-contacts-address-phone {
  padding-top: 45px;
  padding-bottom: 30px;
  font-style: normal;
  line-height: 40px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-decoration: none;
}

.product-list li:nth-child(3) {
  margin-right: 0;
}

.-logo {
  padding-top: 49px;
  padding-bottom: 39px;
  padding-right: 70px;
}

.product-card {
  list-style-type: none;
  width: 340px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;

}

.subscribe {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-white {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.control-input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.main-container {
  background-color: #FFFFFF;
}

.newsletter-form {
  align-self: center;
}

.pagination-link {
  padding: 10px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  background-color: #82B3D3;
}

.button-want-here {

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  border-radius: 4px;
  width: 160px;
  height: 36px;
}

.button-show-icons {
  background-image: url("../images/button-show-icons.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.button-show-slides {
  background-image: url("../images/button-show-slides.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.button-show-list {
  background-image: url("../images/button-show-list.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.button-apply {

  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  background-position: center;
}

.button-reset {

  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  background-position: center;
  background-color: transparent;
}

.button-search-hotels-in-sedona {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  padding-left: 108px;

}

.advantages-values-white {
  width: 230px;
  height: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  flex-wrap: wrap;
  text-align: center;
}

.control {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-products {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;

}

.inner-header {

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;

}

.inner-header-page {
  width: 1060px;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;

}

.top {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.product-card-price {
  text-align: right;
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.navigation-link-heart {
  background-image: url("../images/heart.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.button-more-detailed {
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-to-favorites {
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-to-favorites-green {
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #7DB54F;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.field-from {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.field-before {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages-white {


  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
  flex-wrap: wrap;
  text-align: center;
}

.Small-area {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: rgba(131, 179, 211, 0.12);

}

.beautiful-road {
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: rgba(131, 179, 211, 0.2);

}

.advantages-Beautiful-road {
  width: 230px;
  height: 181px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 111px;
  text-align: center;
  justify-content: center;
}

.advantages-beautiful-road {
  padding-left: 28px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  flex-wrap: wrap;
  width: 175px;
  height: 56px;
}

.few-tourists {
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-Few-tourists {
  width: 230px;
  height: 181px;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 111px;
  text-align: center;
  justify-content: space-around;
}

.advantages-item-housing {
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-housing-logo {
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 81px;
  width: 230px;
  height: 223px;
  text-align: center;
  justify-content: center;

}

.advantages-item-meal {
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: #FFFFFF;
}

.advantages-item-meal-logo {
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 81px;
  width: 230px;
  height: 223px;
  text-align: center;
  justify-content: center;
}

.hotels-found {
  padding-left: 70px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.buttons-to-choose-from {
  width: 522px;
  height: 49px;
  display: flex;
  padding-right: 70px;
  padding-top: 25px;
  justify-content: end;
}

.advantages-item-souvenirs {
  width: 400px;
  height: 384px;
  margin: 0 auto;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-souvenirs-logo {
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 81px;
  width: 230px;
  height: 223px;
  text-align: center;
  justify-content: center;
}

.advantages-few-tourists {
  padding-left: 28px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;

}

.advantages-values {
  width: 230px;
  height: 42px;
  text-align: center;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.button-newsletter {

  font-style: normal;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  background-position: center;
}

.select-Control {
  margin-right: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe-images {
  background-image: url("../images/mauten-subskraibe.jpg");
  background-size: 100%;
  width: 1200px;
  height: 415px;
}

.advantages-subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 258px;
  padding-right: 258px;
  text-align: center;
}

.inner-header-title {

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
}

.breadcrumbs-link-page {
  margin-left: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
