@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-header-logo {
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
}

.catalog-products {
  display: flex;
  align-items: flex-start;
  background-image: url(../images/catalog-mountains.jpg);
}

.select-control {
  display: flex;
  justify-content: space-between;
}

.product-list {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  list-style-type: none;
  width: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 360px;
  margin-left: 0;
  padding: 0;
}

.logo-welcom {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
  margin-top: 51px;
}

.hero-page {
  width: 1200px;
  height: 485px;
  background-image: url(../images/index-background.jpg);
  margin: 0 auto;
  margin-top: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.real-town {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 384px;
  margin: 0 auto;
}

.real-town-images {
  display: flex;
}

.advantages-attributes {
  display: flex;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
}

.advantages-places {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.devil-bridge {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 384px;
  margin: 0 auto;
}

.devil-bridge-images {
  display: flex;
}

.items {
  display: flex;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-around;
  background: #FFFFFF;
  color: #000000;
}

.navigation-item {
  display: block;
  display: flex;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item .navigation-user {
  min-width: 16px;
  min-height: 22px;

}

.navigation-link {
  padding: 20px 16px;
  display: block;

  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-decoration: none;
}

.advantages-title {

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.advantages-description-white {

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.advantages-description {

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;

}

.button-all {

  font-style: normal;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;

}

.newsletter-button {

  font-style: normal;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  background-position: center;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
}

.footer-contacts-address-phone {

  font-style: normal;
  line-height: 40px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  text-decoration: none;
}

.product-card :nth-child(3) {
  list-style-type: none;
  width: 340px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-title {

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;

}

.subscribe {

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-white {

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.catalog-filter-title {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.pagination-link {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;

}

.button-want-here {

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  border-radius: 4px;
  width: 160px;
  height: 36px;
}

.button-show-icons {
  background-image: url("../images/button-show-icons.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.button-show-slides {
  background-image: url("../images/button-show-slides.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.button-show-list {
  background-image: url("../images/button-show-list.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.button-apply {

  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  background-position: center;
}

.button-reset {

  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  background-position: center;
}

.button-search-hotels-in-sedona {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  width: 376px;
  height: 52px;
  border-radius: 4px;
}

.advantages-values-white {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.control {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-title {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-products {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.inner-header {

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.top {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.product-card-price {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.navigation-link-heart {
  background-image: url("../images/heart.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.button-more-detailed {

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;

}

.button-to-favorites {

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;

}

.field-from {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.field-before {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages-white {

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-values {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.button-newsletter {

  font-style: normal;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  background-position: center;
}

.select-control {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe-images {
  background-image: url("../images/mauten-subskraibe.jpg");
  width: 1200px;
  height: 415px;
}

.inner-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
}

.breadcrumbs-link-page {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
